@import "styles"; // Header Styles

header {
  background: $black;

  nav {
    padding: 20px 0;

    &::after {
      @include clearFix;
    }

    .left-menu {
      display: inline-block;
      float: left;

      a {
        color: $white;
        font-weight: 500;
        transition: all 0.2s ease-in-out;

        &:hover {
          color: #ff0000;
        }
      }
    }

    .right-menu {
      display: inline-block;
      float: right;

      ul {
        li {
          display: inline-block;

          &:not(:last-child) {
            margin-right: 15px;
          }

          a {
            color: $white;
            transition: all 0.2s ease-in-out;

            &:hover {
              color: #ff0000;
            }
          }
        }
      }
    }
  }
}
// Header Styles
// Main

main {
  // Top-Section Styles
  .top-section {
    height: 100vh;
    background: linear-gradient(45deg, rgba(245,66,66,.5) 0,rgba(30,0,255,.5) 0%), url("/img/top-section-img.jpg") center center no-repeat;
    background-size: cover;
    position: relative;

    .intro-wrapper {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      justify-items: center;
      align-items: center;

      .intro-message {
        display: inline-block;
        text-align: center;
        color: $white;
        margin-top: 300px;

        h1 {
          font-size: 2.9rem;
          line-height: 50px;
          font-weight: 600;
          margin-bottom: 50px;
        }

        .button {
          color: $white;
          display: inline-block;
          font-size: 1rem;
          text-transform: uppercase;
          border: 2px solid $white;
          border-radius: 3px;
          padding: 15px 35px;
          transition: all 0.4s ease-in-out;

          &:hover {
            margin-top: -30px;
            transform: scale(1.1, 1.1) translate3d(0, -10px, 0);
            text-shadow: 0 15px 20px rgba(0,0,0,0.4);
            box-shadow: 0 10px 38px 0 rgba(245,66,66,0.67);
            backface-visibility: hidden;
            background: linear-gradient(45deg, rgba(245,66,66,1) 0,rgba(30,0,255,1) 100%);
          }

          &:not(:last-child) {
            margin-right: 20px;
          }
        }
      }

      .price {
        display: inline-block;
        color: $white;
        text-align: center;
        margin-top: 300px;

        .only {
          display: block;
          font-size: 2rem;
        }

        .large-number {
          display: block;
          font-size: 20rem;
          font-weight: 900;
        }

        .month {
          display: block;
          font-size: 2rem;
        }
      }
    }
  }
}